<?xml version="1.0"?>
<launch>
  <arg name="base_manager" default="manager"/>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imu_tf" args="0 0 0 0 0 0 base_link imu" output="screen"/> -->

  <node pkg="nodelet" type="nodelet" name="$(arg base_manager)" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="logger" args="load zerobot_driver/Logger $(arg base_manager)" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="imu" args="load zerobot_plugin/WitImu $(arg base_manager)" output="screen">
    <param name="serial_port" type="str" value="/dev/imu"/>
    <remap from="imu/imu" to="imu"/>
    <remap from="imu/magnet" to="magnet"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="bridge" args="load zerobot_plugin/Bridge $(arg base_manager)" output="screen">
    <remap from="bridge/imu" to="imu"/>
    <remap from="bridge/magnet" to="magnet"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="serial" args="load zerobot_driver/Serial $(arg base_manager)" output="screen">
    <param name="serial_port" type="str" value="/dev/zerobot"/>
    <param name="baud_rate" type="int" value="921600"/>
  </node>

  <!-- <node pkg="nodelet" type="nodelet" name="params" args="load zerobot_driver/Params $(arg base_manager)" output="screen">
    <param name="service_timeout" type="int" value="100"/>
  </node> -->

  <node pkg="nodelet" type="nodelet" name="base" args="load zerobot_driver/DiffDrive $(arg base_manager)" output="screen">
    <param name="frame_id" type="str" value="base_footprint"/>
    <param name="wheel_distance" type="double" value="0.265"/>
    <remap from="base/cmd_vel" to="cmd_vel"/>
    <remap from="base/odom" to="odom"/>
  </node>

  <!-- <node pkg="nodelet" type="nodelet" name="ranger" args="load zerobot_driver/Ranger $(arg base_manager)" output="screen">
    <remap from="ranger/range" to="range"/>
  </node> -->

  <node pkg="nodelet" type="nodelet" name="teleop" args="load zerobot_plugin/Teleop $(arg base_manager)" output="screen">
    <remap from="teleop/joy" to="joy"/>
    <remap from="teleop/twist" to="cmd_vel"/>
  </node>
</launch>